/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #87CEEB, #FF69B4);
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.registration-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="tel"],
.input-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.input-group input[type="text"]:focus,
.input-group input[type="email"]:focus,
.input-group input[type="tel"]:focus,
.input-group input[type="password"]:focus {
    border-color: #7d7dff;
}

.radio-group {
    display: flex;
    justify-content: space-between;
}

.radio-group label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #7d7dff, #bfe5ff);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button[type="submit"]:hover {
    background: linear-gradient(135deg, #6a6aff, #a5dbff);
}

/*Success Page Css*/


.paragraph-container {
    margin-top: 20px;
}

#readMoreBtn, #logoutBtn {
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient(135deg, #7d7dff, #bfe5ff);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

#readMoreBtn:hover, #logoutBtn:hover {
    background: linear-gradient(135deg, #6a6aff, #a5dbff);
}
